.about {
   margin: 0 auto;
   
   
   height: 470px;
   background-color: #f7f7f7;
    &__container {
          margin: 0 auto;
       padding-top: 115px;
    max-width: 1080px;
   }
   &__icon {
     @include infoBlockImg;
   }
   &__title {
      @include infoBlockTitle;
      padding-top: 35px;
      padding-bottom: 35px;
   }
   &__text {
      @include infoBlockText(34px);
      text-align: center;
   }
}
