.info {
   display: flex;
   max-height: 600px;
   &--reverse {
      flex-direction: row-reverse;
   }
   &__imgBig {
      background-image: url(../img/png/bike_1.1.png);
      background-position: center;
      background-repeat: no-repeat;
      background-color: #282f35;
      height: 600px;
      width: 1067px;
      display: flex;
      justify-content: center;
      align-items: center;
      &--reverse {
         background-image: url(../img/png/bike_2.2.png);
         background-repeat: no-repeat;
         background-color: #282f35;
      }
   }
   &__wrapper {
      padding-top: 70px;
      background-color: #ffffff;
      max-width: 533px;
   }
   //green small icon
   &__icon {
      @include infoBlockImg;
   }
   &__title {
      @include infoBlockTitle;
      padding-top: 30px;
      padding-bottom: 25px;
      margin: 0;
      &--middle{
         padding-top: 20px;
      padding-bottom: 26px;
      }
   }
   &__text {
      max-width: 400px;
      @include infoBlockText(21px);
      margin: 0 auto;
      font-size: 16px;
      &--middle {
         @include infoBlockText(21px);
         font-size: 16px;
         max-height: 170px;
      }
   }
   &__hr {
      width: 50px;
      border: 0;
      border-top: 1px solid #353738;
      margin-top: 40px;
      margin-bottom: 56px;
      &--reverse {
         margin-bottom: 54px;
      }
      &--middle {
         margin-bottom: 54px;
      }
   }
   &__imgSmall {
      background-color: #282f35;
      max-width: 533px;
   }
   &__imgLeft {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-basis: auto;
      background-image: url(../img/png/bike_3.1.png);
      background-repeat: no-repeat;
      background-color: #282f35;
      width: 533px;
      height: 600px;
   }
   &__imgRight{
       background-color: #282f35;
   }
   &__imgLogo {
      max-height: 67px;
   }
}
