@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700');
@import url('https://fonts.googleapis.com/css?family=PT+Sans');

@mixin fontStyler ($size,
$color,
$weight) {
   font: {
      family: 'Lato', sans-serif;
      size: $size;
      weight: $weight;
   }
   color: $color;
}
@mixin infoBlockImg {
   display: block;
    margin: 0 auto;
}
@mixin infoBlockTitle {
    @include fontStyler (18px, #353738, 700);
   text-transform: uppercase;
   letter-spacing: 3.6px;
   text-align: center;
}
@mixin infoBlockText($lineHeight) {
    @include fontStyler (18px, #848789, 400);
   line-height: $lineHeight;
}
@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}
